h1 {
	color: green;
	text-align: center;
}

div {
	border-style: rounded;
}

form {
	display: block;
	margin: auto;
}

body {
	background-color: rgb(255, 192, 203);
}

h3 {
	text-shadow: 2px 2px #FFFFFF;
}